:root {
    --background-color: #1e1e1e;

    --divider-color: #000000;

    --sidebar-color: #1e1d25;

    --font-color: #dcdcdc;

    --additional-font-color: #d4d4d4;

    --primary-color: #fab73b;
}