.header {
    background-color: var(--background-color);
    border-bottom: 2px solid var(--divider-color);
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 30px;
    height: 90px;
}

.back-btn {
    margin-left: auto;
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .header {
        padding: 10px 25px;
        height: 65px;
    }
}

@media screen and (max-width: 699px) {
    .header {
        padding: 10px 15px;
        height: 60px;
        gap: 10px;
    }

    .header__btn {
        font-size: 13px;
        height: 32px;
        padding: 2.4px 5px;
    }
}